<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_logged_in</title>
</head>
<body>
    <p> EMAIL : <%=email%></p>
    <br><br>
    <button id ="store" onclick="window.location.href='/scan_product_storing'">STORING THE PRODUCT</button>
    <br>
    <br>
    <button id ="selling" onclick="window.location.href='/scan_product_selling'">SELLING THE PRODUCT</button>


</body>
</html>