<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>


   <form action="/login" method="post">
    <img src="https://drive.google.com/uc?export=view&id=180FNCUjTHP0MGOQFW5rf8-AVOppWdJdK  " height="20px " width="20px">
      <br>
        <button id ="log1" onclick="window.location.href='/auth/google'">login</button>
        <br><br>
        <input type="text" id="email" name="email" placeholder="Email" required>
        <br><br>
        <input type="text" id="password" name="password" placeholder="password" required><br>
        <br>
        <button  id="button" type="submit"> submit </button>
        </form><br>
        <br>
        <button id ="log1" onclick="window.location.href='/signup'">SIGNUP</button>
        <br><br>
        <button id ="log1" onclick="window.location.href='/forgetpassword'">Forget password</button>
</body>
</html>