<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE READER</title>
    <style>
        body{
            text-align: center;
        }
        main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #reader {
            width: 400px;
        }
        #result{
            text-align: center;
            font: size 1.5em; 
        }

    </style>
     <script src="html5-qrcode.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body>

    

        <main>
            <div id="reader"></div>
            <div id="result"></div>
        </main>
        <br><br>

        

            
        
      PRODUCT ID:  <input type="text" id="store" required><br><br>
    PRICE: <input type="number" id="price" required> <br><br>
  QUANITITY:  <input type="number" id="quanitity" required><br><br>
  <button onclick="add()" id="add"> ADD </button>
  <button onclick="out()" id="show"> SHOW </button>

<br><br>

<form action="/product_storing" method="post">
      <p name="id" id="id"></p><br><br>
      <p name="price" id="pris"></p><br><br>
      <p name="quanitity" id="qanitity"></p><br><br>
      <button type="submit">SAVE</button>
</form>
      
       
     

    
      <script>

             const scanner =  new  Html5QrcodeScanner('reader',{
                qrbox:{

                    width:250,
                    height:250
                },
                fps:20,
             });
             
             scanner.render(success,error)
             function success(result){
               // console.log(result)
                document.getElementById('store').value = `${result}`;
              

               }
                function error(err)
                 {
                console.error(err);
                 }
                var i=0;
                let array_id = [];
                let array_price=[];
                let array_quanitity=[];
                function add()
               {    
                    var id = document.getElementById("store").value;
                    document.getElementById("store").value="";
                    var price = document.getElementById("price").value;
                    document.getElementById("price").value="";
                    var quanitity = document.getElementById("quanitity").value;
                    document.getElementById("quanitity").value="";
                     array_id[i]=id;
                     array_price[i]=price;
                     array_quanitity[i]=quanitity;
                     document.getElementById("qanitity").value=array_quanitity
                     document.getElementById("pris").value=array_price
                     document.getElementById("id").value= array_id
                    i++;
               }
               let t=i;
               function out()
               {
               while(t--)
               {


               console.log(  array_id[t],array_price[t], array_quanitity[t]
               )}
               }
        
               function save()
                {
                    $.ajax({
                      url: "/product_storing",
                      type: "POST",
                      data: {
                        id: array_id[0],
                        print: array_price[0],
                        quanitity: array_quanitity[0],
                      },
                    });
                   
            //window.location.href=`/product_storing?id= ${array_id}&price=${array_price}&quanitity=${array_quanitity}`
                }
           // $('/scan_product_storing').attr({"href" : '/scan_product_storing?id=' + array_id+"&price"+array_price+"&quanitity"+array_quanitity});
                
    </script>
    </body>
    </html>

   
   