<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE READER</title>
    <style>
        body{
            text-align: center;
        }
        main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #reader {
            width: 400px;
        }
        #result{
            text-align: center;
            font: size 1.5em; 
        }

    </style>
     <script src="html5-qrcode.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>

    

        <main>
            <div id="reader"></div>
            <div id="result"></div>
        </main>
        <br><br>

        

            
        
    
  <button onclick="out()" id="show"> SHOW </button>

<br><br>


     PRODUCT ID:  <input type="text" name="id" id="store" required><br><br>
    PRICE: <input type="number" id="price" name="price" required> <br><br>
  QUANITITY:  <input type="number" id="quanitity" name="quanitity" required><br><br>
  <button onclick="add()" id="add"> ADD </button>
      
      
       
     
<p name="id" id="id"></p><br><br>
<p name="price" id="pris"></p><br><br>
<p name="quanitity" id="qanitity"></p><br><br>
<button onclick="save()" id="add"> SAVE </button>
      <script>
             const scanner =  new  Html5QrcodeScanner('reader',{
                qrbox:{

                    width:250,
                    height:250
                },
                fps:20,
             });
             
             scanner.render(success,error)
             function success(result){
               // console.log(result)
                document.getElementById('store').value = `${result}`;
              

               }
                function error(err)
                 {
                console.error(err);
                 }
                var i=0;
                let id = [];
                let price=[];
                let quanitity=[];
                function add()
               {    
                    var idjs = document.getElementById("store").value;
                    document.getElementById("store").value="";
                    var pricejs = document.getElementById("price").value;
                    document.getElementById("price").value="";
                    var quanitityjs = document.getElementById("quanitity").value;
                    document.getElementById("quanitity").value="";
                     id[i]=idjs;
                     price[i]=pricejs;
                     quanitity[i]=quanitityjs;
                    
                    i++;
               }
               let t=i;
               function out()
               {
               while(t--)
               {


               console.log( id[t],price[t],quanitity[t]
               )}
               }
         
               function save()
                {
                  let xhr = new XMLHttpRequest();
xhr.open("POST", "/product_storing");
xhr.setRequestHeader("Accept", "application/json");
xhr.setRequestHeader("Content-Type", "application/json");

xhr.onreadystatechange = function () {
  if (xhr.readyState === 4) {
    console.log(xhr.status);
    console.log(xhr.responseText);
  }};

let data = {
  "Id": 78912,
  "Customer": "Jason Sweet",
  "Quantity": 1,
  "Price": 18.00
};

xhr.send(data);


                 
                   }   // axios.post("https://product_storing({'id[]': array_id,'price[]': price,'quanitity[]':array_quanitity})")
          //   //window.location.href=`/product_storing?id= ${array_id}&price=${array_price}&quanitity=${array_quanitity}`
          //       }
       //    $('/scan_product_storing').attr({"href" : '/scan_product_storing?id=' + array_id+"&price"+array_price+"&quanitity"+array_quanitity});
     
                
    </script>
    </body>
    </html>

   
   